<font size='3' color='green'>Refence:</font>.

1."Kepler.GL & Jupyter Notebooks: Geospatial Data Visualization with Uber’s opensource Kepler.GL" by Abdishakur on website towards data science: https://towardsdatascience.com/kepler-gl-jupyter-notebooks-geospatial-data-visualization-with-ubers-opensource-kepler-gl-b1c2423d066f

2. Github "kepler.gl for Jupyter User Guide" https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

<font size='3' color='blue'>Create virtual environment in anaconda</font>.

In [1]:
#install shapely package in envir
#conda install -c conda-forge shapely

In [2]:
#install gdal package in envir
#conda install -c conda-forge gdal

In [3]:
#install fiona package in envir
#conda install -c conda-forge fiona

In [4]:
#install keplergl in this envir
#pip install keplergl

In [5]:
#update all conda
#conda update --all

In [1]:
#import pandas
import pandas as pd

In [2]:
from keplergl import KeplerGl

map1 = KeplerGl(height=500)
map1

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(height=500)

In [3]:
#read uber csv
df=pd.read_csv('uber-0914.csv')
df.head(10)

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512
5  9/1/2014 0:12:00  40.6735 -73.9918  B02512
6  9/1/2014 0:15:00  40.7471 -73.6472  B02512
7  9/1/2014 0:16:00  40.6613 -74.2691  B02512
8  9/1/2014 0:32:00  40.3745 -73.9999  B02512
9  9/1/2014 0:33:00  40.7633 -73.9773  B02512

In [4]:
#create new map and add uber data to map
map2 = KeplerGl(height=600)
map2.add_data(data=df,name='uber-data-09.2014')
map2

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(data={'uber-data-09.2014': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1…

#import uber data
df = gpd.read_file("uber-0914.csv")
df.head(10)

#create base map
map = KeplerGl(height=600, width=800)
map

#add our data to map by geodataframe
#create geodataframe
#gdf = gpd.GeoDataFrame(df, gemetry=gpd.points_from_xy(df.Longitude,df.Latitude))
gdf = gpd.GeoDataFrame(df)
gdf.head(10)

#add data to Kepler
map.add_data(data=gdf,name="crimes")